.App {
  text-align: center;
  margin: 100px
}

.dogoimg{
  width: 400px;
  height: auto;
  opacity: 0;
  flex-shrink: 3;
 scale: 0;
}

body{
  background-color: transparent;
}

.container{
  position: absolute;
  bottom: -600px;
  text-align: center;
  width: 400px;
  height: auto;
  background-color: #ffa45c;
  border-radius: 20px;
  padding: 20px;
}
